---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import CldImage from "../components/CldImage.astro";
import "../styles/global.css";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf());
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
        margin: 0 auto;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style: none;
        padding: 0;
      }
      li {
        width: calc(50% - 1rem);
      }
      .title {
        margin: 0;
        font-size: 1.25rem;
      }
      .date {
        color: gray;
        margin: 0 0 1rem;
        font-size: 0.875rem;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>{SITE_TITLE}</h1>
      <div class="text-3xl font-bold underline">Hello world!</div>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/post/${post.data.slug}`}>
                {post.data.coverImage && (
                  <CldImage
                    publicId={post.data.coverImage}
                    alt={post.data.title}
                    width={720}
                    height={360}
                  />
                )}
                <h2 class="title">{post.data.title}</h2>
                <p class="date">
                  <FormattedDate date={post.data.publishedAt} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
